<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="allpointsUrl" value="www.eovportal-softtek-qa.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="allPointsPlatformExtId" value="AllPointsUAT" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="fmpUrl" value="www.fmponline.eovportal-softtek-qa.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="fmpPlatformExtId" value="FMP" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="customerServiceUrl" value="customerservice.eovportal-softtek-qa.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="integrationsAPIUrl" value="api.eovportal-softtek-qa.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>