<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="environments">
      <section name="windowsChrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="windowsFirefox" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="macSafari" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="windowsIExplorer" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <!--tenant specific configuration data-->
    <add key="AllPointsUrl" value="https://multisite-release.azurewebsites.net/" />
    <add key="AllPointsPlatformId" value="55c4524c-5e8f-4b81-adf1-a2f1d38677ff" />
    <add key="AllPointsExternalId" value="AllPointsUAT" />
    <add key="AllPointsPlatformName" value="AllPoints" />

    <add key="FmpUrl" value="http://www.fmponline.eovportal-softtek-qa.com" />
    <add key="FmpPlatformId" value="b6018f81-571a-4116-b416-4368c323fdaa" />
    <add key="FmpExternalId" value="FMP" />
    <add key="FmpPlatformName" value="FMP" />

    <!--test data apis-->
    <add key="IntegrationsAPIUrl" value="api.eovportal-softtek-qa.com" />
    <add key="ShippingServiceApiUrl" value="https://dfsupplyshipping-qa.azurewebsites.net" />

    <!--default value for UAT should be true-->
    <add key="IsBrowserHeadless" value="false" />
    <add key="Browser" value="ie" />

    <!--BrowserStack props-->
    <add key="BsServer" value="hub-cloud.browserstack.com/wd/hub/" />
    <add key="BsUser" value="gustavoloera1" />
    <add key="BsKey" value="dwzg4zVtx2LBhWN5sPi6" />

    <!--should browserstack use your local network-->
    <add key="BstackLocal" value="true" />
  </appSettings>

  <!--devices configuration. See an example: https://www.browserstack.com/automate/nunit#configure-capabilities-->
  <environments>
    <windowsChrome>
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
      <add key="browser" value="Chrome" />
      <add key="browser_version" value="62.0" />
      <add key="resolution" value="1024x768" />
    </windowsChrome>
    <windowsFirefox>
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
      <add key="browser" value="Firefox" />
      <add key="browser_version" value="68.0" />
      <add key="resolution" value="1024x768" />
    </windowsFirefox>
    <windowsIExplorer>
      <add key="os" value="Windows" />
      <add key="os_version" value="10" />
      <add key="browser" value="IE" />
      <add key="browser_version" value="11.0" />
      <add key="resolution" value="1024x768" />
    </windowsIExplorer>
    <macSafari>
      <add key="os" value="OS X" />
      <add key="os_version" value="Mojave" />
      <add key="browser" value="Safari" />
      <add key="browser_version" value="12.1" />
      <add key="resolution" value="1024x768" />
    </macSafari>
  </environments>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.24.0.0" newVersion="0.24.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.XmlTransform" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.34420" newVersion="3.0.0.34420" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentValidation" publicKeyToken="7de548da2fbae0f0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>