<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SiteUrl" value="http://www.eovportal-softtek-qa.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CustomerServiceUrl" value="customerservice.eovportal-softtek-qa.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="IntegrationsAPIUrl" value="api.eovportal-softtek-qa.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="InventoryAPIUrl" value="http://inventoryapi.eovportal-softtek.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MongoConnectionString" value="mongodb://co-svr-devapp:27017" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>